{{!< default}}

{{#if @blog.cover}}
  <style>
    body {
      background-image: url({{@blog.cover}});
      background-size: cover;
    }
  </style>
{{/if}}


{{#post}}
<article class="dodo-Post dodo-Post--full">
  {{#if image}}
    <img class="dodo-Post-cover" src="{{image}}" alt="Post Cover">
  {{/if}}
  <header class="dodo-Post-header">
    <h1 class="dodo-Post-heading">
      {{title}}
    </h1>
    <div class="dodo-Post-meta">
      <div class="dodo-Post-date">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      </div>
    </div>
  </header>
  <div class="dodo-Post-content">
    {{{content}}}
  </div>
</article>
{{/post}}
